<% layout("/layouts/boilerplate") %>

<style>
    .filter p{
        font-size: 0.7rem;
    }
   #filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   }
   .filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
   }
   .filter:hover{
    opacity:1;
    cursor: pointer;
   }
   .filter svg {
    width: 1.5rem; /* Adjust to match the size of other icons */
    height: 1.5rem;
    }
    #dinner{
        width: 1.7rem; /* Adjust to match the size of other icons */
        height: 1.7rem;
    }
    .tax-info{
        display:none;
    }
    .tax-toggle{
        margin-top: 1.5rem;
        border: 1px solid black;
        border-radius: 1rem;
        height: 3.25rem;
        padding:1rem;
        margin-left: 3rem;
        display: flex;
        align-items: center;
    }

</style>

    <div id="filters">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div> 
            <p>Trending</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div> 
            <p>Iconic Cities</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
        </div>
        <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div> 
            <p>Castle</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing Pools</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
        <div class="filter">
              <svg xmlns="http://www.w3.org/2000/svg" id="bar" viewBox="0 0 48 48">
                <path fill="none" d="M0 0h48v48H0z"></path>
                <path d="M22 26v12H12v4h24v-4H26V26l16-16V6H6v4l16 16zm-7-12-4-4h26l-4 4H15z"></path>
              </svg>
              
            <p>Bar</p>
        </div>
        <div class="filter">
            <div><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 32 32" viewBox="0 0 32 32" id="dinner">
                <path d="M2.5,12c0-1.1,0.2-2.3,0.6-3.3C3.4,7.8,3.6,6.9,3.5,6c0-0.6,0.4-1,1-1s1,0.4,1,1c0,1.1-0.2,2.3-0.6,3.3
                  C4.6,10.1,4.4,11,4.4,12c0,0.6-0.4,1-1,1S2.5,12.6,2.5,12z M7.7,10c0.6,0,1-0.4,1-1c0-0.4,0.1-0.8,0.2-1.2C9.2,7.3,9.3,6.6,9.3,6
                  s-0.4-1-1-1s-1,0.4-1,1c0,0.4-0.1,0.8-0.2,1.2C6.8,7.7,6.7,8.4,6.7,9S7.2,10,7.7,10z M27.5,12c0,0.6,0.4,1,1,1s1-0.4,1-1
                  c0-1.1-0.2-2.3-0.6-3.3C28.6,7.9,28.4,7,28.4,6c0-0.6-0.4-1-1-1s-1,0.4-1,1c0,1.1,0.2,2.3,0.6,3.3C27.4,10.2,27.6,11.1,27.5,12z
                   M23.3,9c0,0.6,0.4,1,1,1s1-0.4,1-1S25.2,7.7,25,7.2c-0.1-0.4-0.2-0.8-0.2-1.2c0-0.6-0.4-1-1-1s-1,0.4-1,1s0.1,1.3,0.3,1.8
                  C23.2,8.2,23.3,8.6,23.3,9z M4,22h24c0-6-4.4-11-10.4-11.9C18.3,9.2,18,8,17.1,7.3S15,7,14.3,7.9c-0.5,0.7-0.5,1.6,0,2.3
                  C8.4,11,4,16,4,22z M3.6,25.7C4.1,26.5,5.1,27,6.1,27H26c1,0,1.9-0.5,2.5-1.3l1.1-1.7H2.5L3.6,25.7z"></path>
              </svg>
              
              </div>
            <p>Dineouts</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-landmark-dome"></i></div>
            <p>Domes</p>
        </div>
        <div class="filter">
            <div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="island">
                <path d="M32.571,42.576c-.436,0-.866.024-1.3.038C27.631,38.075,22.03,29.153,22.558,17.8c5.544,4.758,4.383,11.95,4.321,12.307a1,1,0,0,0,1.536,1.007c.186-.123,4.569-3.058,5.505-7.78a9.881,9.881,0,0,0-1.8-7.649,8.492,8.492,0,0,0-3.244-2.919,14.957,14.957,0,0,1,7.637,3.051,1,1,0,0,0,.64.232.985.985,0,0,0,.451-.108,1,1,0,0,0,.547-.952c-.013-.222-.374-5.485-4-8.65a9.866,9.866,0,0,0-7.528-2.253,8.211,8.211,0,0,0-7.28,5.284,8.215,8.215,0,0,0-7.281-5.284A9.878,9.878,0,0,0,4.534,6.342C.907,9.507.547,14.77.533,14.992a1,1,0,0,0,.548.953,1,1,0,0,0,1.093-.126,15.262,15.262,0,0,1,7.559-3.006,8.5,8.5,0,0,0-3.168,2.875,9.886,9.886,0,0,0-1.8,7.649c.937,4.722,5.32,7.657,5.506,7.78a1,1,0,0,0,1.535-1.007c-.066-.38-1.376-8.492,5.461-13.183-1.889,5.059-4.721,16.371,1.5,28.278A27.192,27.192,0,0,0,5.51,55.937a5.339,5.339,0,0,0-3.367-1.118v2a4.055,4.055,0,0,1,3.109,1.547,6,6,0,0,0,4.5,2.1,6,6,0,0,0,4.5-2.1,3.9,3.9,0,0,1,6.218,0,5.853,5.853,0,0,0,8.991,0,3.9,3.9,0,0,1,6.223,0,5.854,5.854,0,0,0,8.992,0,3.9,3.9,0,0,1,6.225,0,5.859,5.859,0,0,0,9,0A4.062,4.062,0,0,1,63,56.819v-2a5.347,5.347,0,0,0-3.368,1.117C54.674,47.781,44.243,42.576,32.571,42.576Zm-2.1-25.765a7.973,7.973,0,0,1,1.493,6.125,10.269,10.269,0,0,1-2.97,5.091,15.237,15.237,0,0,0-7.412-13.369C23.845,13.769,27.857,12.966,30.468,16.811ZM26.773,6.083a7.991,7.991,0,0,1,6.055,1.758,10.278,10.278,0,0,1,2.935,5.111,16.832,16.832,0,0,0-8.055-2.2,14.431,14.431,0,0,0-7.23,1.966C20.837,10.309,22.138,6.431,26.773,6.083ZM5.849,7.849a7.647,7.647,0,0,1,5.2-1.8c.282,0,.57.012.864.033,4.635.348,5.936,4.226,6.3,6.634a15.239,15.239,0,0,0-15.29.238A10.273,10.273,0,0,1,5.849,7.849ZM9.7,28.027a10.268,10.268,0,0,1-2.969-5.091,7.97,7.97,0,0,1,1.493-6.125,6.141,6.141,0,0,1,5.313-2.889,10.006,10.006,0,0,1,3.576.736A15.238,15.238,0,0,0,9.7,28.027ZM19.505,42.1h2.087v-2H18.733c-3.86-11.127-.189-21.185,1.091-24.125q.427.22.823.457a35.263,35.263,0,0,0,1.889,14.6H20.489v2h2.8a44.149,44.149,0,0,0,5.571,9.736,36.692,36.692,0,0,0-8.2,1.735Q20.019,43.3,19.505,42.1Zm32.77,14.824a5.856,5.856,0,0,0-8.994,0,3.9,3.9,0,0,1-6.222,0,5.855,5.855,0,0,0-8.993,0,3.9,3.9,0,0,1-6.22,0,5.852,5.852,0,0,0-8.99,0,4.053,4.053,0,0,1-3.109,1.547A3.628,3.628,0,0,1,7.034,57.3c4.513-7.752,14.4-12.721,25.537-12.721S53.6,49.544,58.109,57.3a3.64,3.64,0,0,1-2.72,1.176A4.065,4.065,0,0,1,52.275,56.924Z"></path>
              </svg></div>
            <p>Islands</p>
        </div>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" >
                <label class="form-check-label" for="flexSwitchCheckChecked">Display total after taxes</label>
            </div>
        </div>
    </div> 


    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% for(let listing of allListings){ %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card col listing-card">
                    <img src="<%= listing.image.url%>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                      <p class="card-text">
                       <b><%= listing.title %></b><br>
                        <% if (typeof listing.price === "number") { %>
                            &#8377;<%= listing.price.toLocaleString("en-IN") %>/Night
                        <% } else { %>
                            Price not available
                        <% } %>
                        <i class="tax-info">&nbsp; +18% GST </i>
                      </p>
                    </div>
                  </div>
            </a>
            
            <% } %> 
    </div>    
<script>
    let taxSwitch = document.getElementById("flexSwitchCheckChecked");
    taxSwitch.addEventListener("click",()=>{
       let taxInfo = document.getElementsByClassName("tax-info");
       for(info of taxInfo){
        if(info.style.display != "inline"){
        info.style.display = "inline";
        } else {
            info.style.display = "none";
        }
       }
    });
</script>


